#planet table {
    border-collapse: collapse;
    border-top: 0;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

#planet td, 
#planet th {
	border: 1px solid;
	background: #000000;
  }

#planet thead th {
    padding: 1em 1.25em;
    border-bottom: 0;
    background: #000000;
    font-weight: 600;
    border-bottom: 0.125rem solid #9F0000;
    color: #FFFF00;
}
